@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600');

// Reset
* {
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    box-sizing: border-box;
    color: #525252;
}

$main: #4b8aff; // Main Color Themes: Blue - #4b8aff; Red - #ff4b4b; Orange - #ffc04b; Purple - #856aff

$blue: #53c0ff;
$lightBlue: #E3F2FD;

$pink: #F6538B;
$lightPink: #FDE4EC;

$purple: #6c4bff;
$lightPurple: #ece8ff;

// Switch green with purple colors

// $purple: #6c4bff;
// $lightPurple: #ece8ff;