@import './variables';

.Calendar {
    background: white;
    #calendar {
        padding: 30px;
        cursor: default;
        .month-selection {
            display: flex;
            margin-bottom: 30px;
            justify-content: space-between;
            align-items: center;
            font-weight: 600;
            h2 {

            }
            i {
                font-size: 1.4rem;
            }
        }
        .weekdays {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            justify-content: center;
            text-align: center;
            margin-bottom: 15px;
            grid-row-gap: 15px;
            grid-column-gap: 5%;
            span {
                color: $main;
            }
        }
        #days {
            display: grid;
            grid-template-columns: repeat(7, 1fr);
            grid-template-rows: repeat(5, 1fr);
            grid-row-gap: 15px;
            grid-column-gap: 5%;
            justify-content: center;
            font-size: 1rem;
            .day {
                display: flex;
                margin: 0 auto;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                transition: all 0.4s ease-in-out;
                height: 30px;
                width: 30px;
                &.current {
                    background: $main;
                    color: white;
                }
                &.empty {
                    color: #e0e0e0;
                    &:hover {
                        background: none;
                    }
                }
                &:hover {
                    background: #e0e0e0;
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {

}
@media screen and (max-width: 992px) {
    .Calendar {
        #calendar {
            #days {
                grid-row-gap: 30px;
            }
        }
    }
}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 480px) {
    .Calendar {
        #calendar {
            .weekdays {
                grid-column-gap: 2%;
            }
            #days {
                grid-row-gap: 15px;
                grid-column-gap: 2%;
            }
        }
    }
}