@import 'variables';

.Events {
    background: white;
    cursor: default;
    padding: 30px;
    #events-top {
        padding-bottom: 15px;
        .header {
            display: flex;
            justify-content: space-between;
            margin: 0 auto;
            align-items: center;
            .title {

            }
            .event-types {
                display: flex;
                div {
                    height: 35px;
                    width: 35px;
                    background: white;
                    margin-right: 15px;
                    border-radius: 50%;
                    background-position: right bottom;
                    transition: all .5s ease-out;
                    font-size: 0.9rem;
                    border: 1px solid white;
                    font-weight: 300;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    span {
                        transition: all 0.4s ease-in-out;
                    }
                    &.business {
                        background: linear-gradient(to right, $blue 50%, $lightBlue 50%);
                        background-size: 210% 100%;
                        background-position: right bottom;
                        span {
                            color: $blue;
                        }
                        &:hover {
                            background-position: left bottom;
                            span {
                                color: white;
                            }
                        }
                    }
                    &.school {
                        background: linear-gradient(to right, $pink 50%, $lightPink 50%);
                        background-size: 210% 100%;
                        background-position: right bottom;
                        span {
                            color: $pink;
                        }
                        &:hover {
                            background-position: left bottom;
                            span {
                                color: white;
                            }
                        }
                    }
                    &.personal {
                        background: linear-gradient(to right, $purple 50%, $lightPurple 50%);
                        background-size: 210% 100%;
                        background-position: right bottom;
                        margin: 0;
                        span {
                            color: $purple;
                        }
                        &:hover {
                            background-position: left bottom;
                            span {
                                color: white;
                            }
                        }
                    }
                    span {

                    }
                }
            }
        }
    }
    #events-content {
        display: grid;
        justify-content: center;
        grid-template-columns:  repeat(3, 33.33%);
        grid-gap: 30px;
        padding: 0 30px;
        margin-top: 15px;
        .event {
            background: white;
            padding: 15px;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            transition: all 0.5s ease-in-out;
            border-bottom: 3px solid transparent;
            background: #fafafa;
            &:hover {
                transform: translate3d(0, -10px, 0);
            }
            .type {
                max-width: 75px;
                text-align: center;
                padding: 5px 10px;
                border-radius: 18px;
                font-weight: 300;
                font-size: 0.8rem;
                &.blue {
                    color: $blue;
                    background: $lightBlue;
                }
                &.purple {
                    color: $purple;
                    background: $lightPurple;
                }
                &.yellow {
                    color: $pink;
                    background: $lightPink;
                }
            }
            h2 {
                font-size: 1rem;
                text-transform: capitalize;
                margin: 15px 0;
                max-width: 150px;
                overflow: hidden;
            }
            span {
                font-weight: 300;
                color: #c0c0c0;
                font-size: 0.75rem;
            }
        }
    }
}

@media screen and (max-width: 1200px) {

}
@media screen and (max-width: 992px) {
    .Events {
        #events-content {
            display: grid;
            justify-content: center;
            grid-template-columns:  repeat(2, 1fr);
            grid-template-rows: repeat(3, 1fr);
            grid-gap: 30px;
            padding: 0 30px;
            margin-top: 15px;
            .event {
                &:hover {
                    transform: initial;
                }
                .type {
                }
                h2 {
                    max-width: none;
                }
                span {
                    
                }
            }
        }
    }
}
@media screen and (max-width: 768px) {
    .Events {
        #events-content {
            grid-template-columns:  1fr;
            grid-gap: 30px;
            padding: 0;
        }
        #events-top {
            .header {
                .title {

                }
                .event-types {
                    div {
                        span {
                            
                        }
                        span {

                        }
                    }
                }
            }
        }
        #events-content {
            .event {
                &:hover {
                    transform: initial;
                }
                .type {
                }
                h2 {
                    max-width: none;
                }
                span {
                    
                }
            }
        }
    }
}
@media screen and (max-width: 480px) {

}