@import './variables';

.Weather {
    background: white;
    #weather {
        cursor: default;
        display: flex;
        flex-direction: column;
        .time {
            background: $main;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 15px;
            #time {
                font-size: 1.8rem;
                font-weight: 300;
                color: white;
            }
            .am-pm {
                margin-left: 15px;
                display: flex;
                flex-direction: column;
                transition: all 0.4s ease-in-out;
                span {
                    transition: all 0.4s ease-in-out;
                    font-size: 0.75rem;
                    font-weight: 300;
                    color: white;
                }
            }
        }
        .forecast {
            display: flex;
            .col {
                padding: 50px 5px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background: white;
                width: 33.33%;
                border-right: 2px solid #fafafa;
                &:hover {
                    img {
	                    animation: float 2s ease-in-out infinite;
                    }
                }
                &:last-of-type {
                    border: none;
                }
                .day {
                    font-weight: 300;
                }
                img {
                    height: 45px;
                    width: 45px;
                    margin: 0 0 15px;
                    transition: all 0.3s ease-in-out;
                }
                .high-low {
                    font-size: 0.925rem;
                    font-weight: 300;
                    color: #c7c7c7;
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {

}
@media screen and (max-width: 992px) {

}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 480px) {

}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-5px);
	}
	100% {
		transform: translatey(0px);
	}
}