@import './variables';

.Weather {
    background: white;
    #weather {
        cursor: default;

        height: 250px;
        display: flex;
        flex-direction: column;
        .time {
            background: $main;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 15px;
            height: 30%;
            &:hover {
                .am-pm {
                    transform: translate3d(0, -8px, 0);
                    span {
                        &:first-of-type {
                            opacity: 0;
                        }
                        &:last-of-type {
                            opacity: 1;
                        }
                    }
                }
            }
            #time {
                font-size: 1.7rem;
                font-weight: 300;
                color: white;
            }
            .am-pm {
                margin-left: 15px;
                display: flex;
                flex-direction: column;
                transform: translate3d(0, 8px, 0);
                transition: all 0.4s ease-in-out;
                span {
                    transition: all 0.4s ease-in-out;
                    font-size: 0.75rem;
                    font-weight: 300;
                    color: white;
                    &:first-of-type {

                    }
                    &:last-of-type {
                        opacity: 0;
                    }
                }
            }
        }
        .forecast {
            display: flex;
            .col {
                padding: 30px 5px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                background: white;
                width: 33.33%;
                border-right: 2px solid #fafafa;
                transition: all 0.3s ease-in-out;
                &:last-of-type {
                    border: none;
                }
                .day {
                    font-weight: 300;
                }
                i {
                    font-size: 1.1rem;
                    color: $main;
                    margin: 30px;
                }
                .high-low {
                    font-size: 0.825rem;
                    font-weight: 300;
                    color: #e0e0e0;
                }
                &:hover {
                    background: #fafafa;
                }
            }
        }
    }
}

@media screen and (max-width: 1200px) {

}
@media screen and (max-width: 992px) {

}
@media screen and (max-width: 768px) {

}
@media screen and (max-width: 480px) {

}